<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nmpbx-mention</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nmpbx-message</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nmpbx-config</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sips</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sip-nmpbx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sips-nmpbx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nmpbx-sip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nmpbx-sips</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tel</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>uk.co.netmatters.nmpbx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.netmatters.nmpbx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>callto</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>voip</string>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<false/>
</dict>
</plist>
